
.appMain {
	display         : flex;
	width           : 100%;
	padding         : 0 !important;
	font-family     : Roboto, sans-serif;
	align-items     : center;
	justify-content : center;
	flex-direction  : column;
}
.topCard {
	display         : flex;
	min-height      : 30vh;
	padding         : 10px;
	background      : linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%);
	align-items     : center;
	justify-content : center;
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/274506/pexels-photo-274506.jpeg) no-repeat center center fixed;
    background-size: cover;
    color: #fff !important;
}
.userName {
	padding : 10px;
}
.taskCard {
}
#camera {
	width : 100%;
}
.takeIcon {
	position : relative;
	display  : inline-block;
	
	left     : calc(50% - 35px);
	background-color: #fff;
	
	height   : 120px;
	width    : 120px;
}
.cameraDialog {
	margin-top: -100px;
	width: 360px;
	height: 400px !important;
	max-width: 450px;
	padding: 0 !important;
}