@import url('https://fonts.googleapis.com/css?family=Quantico');
.mainContainer {
  height: 100vh;
}
.mainContainer {
  background: #005C97; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #005C97 , #363795);
  height: 100vh;
  overflow: visible !important;
}
.bottomContainer {
	
	position: absolute !important;
	bottom: 20px;
	left: 0; 


}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quantico', sans-serif !important;
}
.wordButton {
	margin-top: 10px !important;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.wordButton span{
	margin: -20px 0 0 0;
    display: block;
    height: 80px !important;

}